# Игнорируем всё...
*

# ...кроме гитигнора, README и скриптов/батников в корне
!.gitignore
!README.md
!/*.py
!/*.bat

# Примеры для README
!/examples/
!/examples/*.jpg

# Служебное
*.log
__pycache__/
